@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("/public/fonts/poppins-regular-webfont.woff2") format("woff2"),
      url("/public/fonts/poppins-regular-webfont.woff") format("woff");
  }

  * {
    @apply transition-all;
  }

  body {
    @apply bg-lightLilac text-black;
    font-family: "Poppins", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply w-fit;
  }
}

body.cursor-none :is(a, button, input) {
  cursor: none;
}

a:hover > * {
  @apply text-skyBlue;
}

.focus {
  @apply mix-blend-difference;
}

html {
  scrollbar-width: none;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
}

::selection {
  @apply bg-skyBlue text-lightLilac;
}

.focus-list:hover > *:not(:hover) {
  opacity: 0.65;
}

.overlay-wrapper:hover .overlay {
  @apply opacity-20 backdrop-blur-lg bg-palePeriwinkle border-softLavender shadow-md;
}

/* * {
  border: 1px solid red;
  cursor: auto;
} */
